<%- include('../partials/header') %>


    <main class="main">
        <div class="page-content">
            <div class="checkout">
                <div class="container">




                    <div class="row">
                        <div class="col-lg-9">

                            <h2 class="checkout-title">Edit Your addresses</h2><!-- End .checkout-title -->





                            <div class="row">
                                <form action="/editAddress/<%= existingAddress._id %>" method="POST"  id="addAdrress" >

                                    <div class="col-lg-9">
                                        <h2 class="checkout-title">Add Adreess</h2><!-- End .checkout-title -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" required id="InputName"
                                                    placeholder="First Name" name="firstName"
                                                    value="<%= existingAddress.firstName %>">
                                            </div><!-- End .col-sm-6 -->



                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" name="lastName" id="InputName"
                                                    placeholder="Last Name" value="<%= existingAddress.lastName %>"
                                                    required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->



                                        <label>Street address *</label>
                                        <!-- <input type="text" class="form-control" placeholder="House number and Street name"
                                                    required> -->
                                        <input type="text" name="addressLine1" id="InputAddress" class="form-control"
                                            placeholder="Appartments, suite, unit etc ..."
                                            value="<%= existingAddress.addressLine1 %>" required>

                                        <label>State / County *</label>
                                        <!-- <input type="text" class="form-control" placeholder="House number and Street name"
                                                    required> -->
                                        <input type="text" name="addressLine2" id="InputAddress" class="form-control"
                                            placeholder="district, state, unit etc ."
                                            value="<%= existingAddress.addressLine2 %>" required>







                                        <div class="row">
                                            <label for="addressAlias">Please assign an address title for future
                                                reference.
                                                <sup>*</sup></label>
                                            <input required type="text" value="My address" name="addressTitle"
                                                class="form-control" id="addressAlias"
                                                value="<%= existingAddress.addressTitle %>" />
                                        </div>
                                    </div><!-- End .row -->





                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Postcode / ZIP *</label>
                                            <input type="text" class="form-control" id="postcode" name="postcode"
                                                placeholder="Postcode" value="<%= existingAddress.postcode %>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Phone *</label>
                                            <input type="tel" class="form-control" id="phone" name="phone"
                                                placeholder="Phone Number" value="<%= existingAddress.phone %>"
                                                required>
                                        </div><!-- End .col-sm-6 -->




                                        <div class="col-lg-12 col-xs-12 clearfix">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-map-marker"></i> Save Address
                                            </button>
                                        </div>






                                    </div><!-- End .col-lg-9 -->

                                </form>
                            </div><!-- End .row -->

                            <div class="col-lg-12 col-xs-12 clearfix">
                                <ul class="pager">
                                    <li class="previous pull-right">
                                        <a href="index.html">
                                            <i class="fa fa-home"></i> Go to Shop
                                        </a>
                                    </li>
                                    <li class="next pull-left">
                                        <a href="my-address.html">&larr; Back to My Address</a>
                                    </li>
                                </ul>
                              
                                    <ul class="pager">
                                        <li class="previous pull-right"><a href="/checkout"> <i class="fa fa-home"></i> Go to checkout page </a></li>
                                    </ul>
                               
                            </div>

                            <!--/row end-->
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-5"></div>
                    </div>
                    <!--/row-->







                   



                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>
    <script>


        $.validator.addMethod("noWhitespace", function (value, element) {
            return value.trim() !== ""; // Check if the trimmed value is not empty
        }, "Please enter a valid value.");

        $("#addAdrress").validate({
            rules: {
                firstName: {
                    required: true,
                    noWhitespace: true, // Apply custom validation rule
                    pattern: /^[a-zA-Z]+$/,
                    minlength: 2,
                    maxlength: 20,
                },
                lastName: {
                    required: true,
                    noWhitespace: true, // Apply custom validation rule
                    pattern: /^[a-zA-Z0]+$/,
                    minlength: 2,
                    maxlength: 20,
                },
                addressLine1: {
                    required: true,
                    noWhitespace: true, // Apply custom validation rule
                    
                },
                addressLine2: {
                    required: true,
                    noWhitespace: true, // Apply custom validation rule
                    
                },
                addressTitle: {
                    required: true,
                    noWhitespace: true, // Apply custom validation rule
                    minlength: 2,
                    maxlength: 50,
                },
                phone: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 10,
                },
                postcode: {
                    required: true,
                    digits: true,
                    minlength: 5,
                    maxlength: 6,
                },
            },
            messages: {
                firstName: {
                    required: "Please enter your first name",
                    noWhitespace: "First name cannot be empty or contain only spaces",
                    pattern: "First name can only contain letters",
                    minlength: "First name must be at least 2 characters long",
                    maxlength: "First name must not exceed 20 characters",
                },
                lastName: {
                    required: "Please enter your last name",
                    noWhitespace: "Last name cannot be empty or contain only spaces",
                    pattern: "Last name can only contain letters and numbers",
                    minlength: "Last name must be at least 2 characters long",
                    maxlength: "Last name must not exceed 20 characters",
                },
                addressTitle: {
                    minlength: "Address title must be at least 2 characters long",
                    maxlength: "Address title cannot exceed 50 characters",
                },
                phone: {
                    required: "Please enter your phone number",
                    digits: "Please enter only digits",
                    minlength: "Phone number must be 10 digits long",
                    maxlength: "Phone number must be 10 digits long",
                },
                postcode: {
                    required: "Please enter your postcode",
                    digits: "Please enter only digits",
                    minlength: "Postcode must be 5 to 6 digits long",
                    maxlength: "Postcode must be 5 to 6 digits long",
                },
            },
        });

    </script>.









    <%- include('../partials/footer') %>