<%- include('../partials/header') %>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg');">
            <div class="container">
                <h1 class="page-title">Profile<span>BXXY</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->



        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card custom-box">
                        <div class="card-header ">
                            Personal Information
                        </div>
                        <div class="card-body">
        
                            <!-- Displaying personal information dynamically -->
                            <div class="card">
                                <div class="card-body">
        
                                    <!-- Check if req.session.currentUser exists -->
                                    <% if (currentUser) { %>
                                        <p> <strong>Name:</strong>  <%= currentUser.username %>    </p>
                                        <p> <strong>Email:</strong> <%= currentUser.email %>       </p>
                                        <p> <strong>Phone:</strong> <%= currentUser.phonenumber %> </p>
                                        <!-- Add more information as needed -->
        
                                        <!-- Example button to trigger some action -->
                                        <button class="btn btn-primary">Edit Information</button>
                                    <% } else { %>
                                        <p>No user data available.</p>
                                    <% } %>
        
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        
<div>
    <!-- <hr><hr><hr><hr> -->
     <br><br><br><br>
</div>






        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <!-- Buttons -->
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addressModal">
                                Open Address Box
                            </button>
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-primary" href="/manageAdrressPage">
                                <i class="fa fa-plus-circle"></i> Add New Address
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a class="btn btn-primary" href="/changePassword">
                                <i class="fa fa-plus-circle"></i> Change password
                            </a>
                        </div>
                    </div>

                    <!-- Address Modal -->
                    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog"
                        aria-labelledby="addressModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addressModalLabel">Address Box</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="w100 clearfix">
                                        <% addressData.forEach(function(address) { %>
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><strong>
                                                                <%= address.addressTitle %>
                                                            </strong></h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><span class="address-name"> <strong>
                                                                        <%= address.firstName %>
                                                                            <%= address.lastName %>
                                                                    </strong></span></li>
                                                            <li><span class="address-line1">
                                                                    <%= address.addressLine1 %>
                                                                </span></li>
                                                            <li><span class="address-line2">
                                                                    <%= address.addressLine2 %>
                                                                </span></li>
                                                            <li><span> <strong>Mobile</strong> : <%= address.phone %>
                                                                        </span></li>
                                                        </ul>
                                                    </div>

                                                    <div class="panel-footer panel-footer-address">
                                                        <a href="/editAddress/<%= address._id %>"
                                                            class="btn btn-sm btn-success">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                        <a class="btn btn-sm btn-danger"
                                                            onclick="return confirm('Do you want to delete?')"
                                                            href="/deleteAddress/<%= address._id %>">
                                                            <i class="fa fa-minus-circle"></i> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- Add additional buttons if needed -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <hr>
                        <hr>
                    </div>
                    <!-- Table Section -->

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Order ID</th>
                                    <th>No. of Items</th>

                                    <th>Payment Method</th>
                                    <th>Price</th>
                                    <!-- <th>Name</th> -->
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orderData.forEach((order, index)=> { %>
                                    <tr>
                                        <td>#<%= order.orderNumber %>
                                        </td>
                                        <td>
                                            <%= order.cartData.length %> <small>items</small>
                                        </td>

                                        <td>
                                            <%= order.paymentType %>
                                        </td>
                                        <td>$<%= order.grandTotalCost %>
                                        </td>
                                        <!-- <td>
                                            <% order.cartData.forEach(cartItem => { %>
                                                <div>
                                                    <img src="/upload/<%= cartItem.productId.productImage1 %>" alt="Product Image"
                                                        style="max-width: 50px; max-height: 50px;">
                                                    <%= cartItem.productId.productName %>
                                                </div>
                                            <% }); %>
                                        </td> -->
                                        <!-- <td>
                                            <td>$<%= order.userId?.username %>

                                        </td> -->




                                        <td><span class="label label-primary">
                                                <%= order.orderStatus %>
                                            </span></td>
                                        <td>
                                            <a href="/profile/orderStatus/<%= order._id %>"
                                                class="btn btn-primary btn-sm">View
                                                Status</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                            <div class="d-flex justify-content-center py-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <% for (let i = 0; i < totalPagesArray.length; i++) { %>
                                            <li class="page-item <%= (i + 1 === currentPage) ? 'active' : '' %>">
                                                <a class="page-link" href="/profile/?page=<%= i + 1 %>"><%= i + 1 %></a>
                                            </li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>
                        </table>
                        <div class="d-flex justify-content-center py-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <% for (let i = 0; i < totalPagesArray.length; i++) { %>
                                        <li class="page-item <%= (i + 1 === currentPage) ? 'active' : '' %>">
                                            <a class="page-link" href="/profile/?page=<%= i + 1 %>"><%= i + 1 %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>




                    <div class="col-lg-12 clearfix mt-4">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
                        </ul>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main>

    <!-- ... (previous HTML content) ... -->

    <!-- Address Modal -->



    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal content goes here -->
            </div>
        </div>
    </div>

    <!-- ... (remaining HTML content) ... -->


    <%- include('../partials/footer') %>