<%- include('../adminPartials/header') %>


    <div><br><br><br></div>
    <!-- Add Category Modal Button trigger modal -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h4>Coupon Management</h4>
            </div>
            <br>
            <div class="col-4 text-end">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add new coupon
                </button>
            </div>
        </div>
    </div>

    <!-- Add Coupon Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addCouponForm" role="form">
                    <div class="modal-body">
                        <div class="couponCodeInput p-2">
                            <label for="couponCode" class="mb-2">Coupon Code: </label>
                            <div class="input-group">
                                <input id="couponCode" name="couponCode" title="Enter a valid coupon code" type="text"
                                    class="form-control" placeholder="Enter coupon code" required minlength="5"
                                    maxlength="16" />
                            </div>
                            <div class="form-text">
                                Add a relevant coupon code eg: NEWYEAR2024, PONGAL2024, VYZ548
                            </div>
                        </div>

                        <div class="discountPercentageInput p-2">
                            <label for="expiryDate" class="mb-2">Discount Percentage: </label>
                            <div class="input-group">
                                <input id="discountPercentage" name="discountPercentage" type="number" min="5" max="90"
                                    class="form-control" placeholder="Enter discount percentage" required />
                            </div>
                            <div class="form-text">
                                Choose a percentage to be discounted. Between 5% and 90%.
                            </div>
                        </div>

                        <div class="startDateInput p-2">
                            <label for="startDate">Coupon Start Date: </label>
                            <div class="input-group">
                                <input id="startDate" name="startDate" type="date" class="form-control" required />
                            </div>
                            <div class="form-text">
                                Choose a start date for the discount to be considered.
                            </div>
                        </div>

                        <div class="expiryDateInput p-2">
                            <label for="expiryDate">Coupon Expiry Date : </label>
                            <div class="input-group">
                                <input id="expiryDate" name="expiryDate" type="date" class="form-control" required />
                            </div>
                            <div class="form-text">
                                Choose an expiry date for the discount to end.
                            </div>
                        </div>

                        <div class="minimumPurchaseInput p-2">
                            <label for="minimumPurchase">Minimum Purchase: </label>
                            <div class="input-group">
                                <input id="minimumPurchase" name="minimumPurchase" type="text" class="form-control"
                                    placeholder="Enter minimum purchase required" required />
                            </div>
                            <div class="form-text">
                                Minimum amount of purchase to be done to allow the coupon
                                discount.
                            </div>
                        </div>

                        <div class="maximumDiscount p-2">
                            <label for="maximumDiscount">Maximum Discount: </label>
                            <div class="input-group">
                                <input id="maximumDiscount" name="maximumDiscount" type="text" class="form-control"
                                    placeholder="Maximum discount applicable" required />
                            </div>
                            <div class="form-text">
                                Maximum amount of discount to be allowed while using the coupon.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button id="addCouponBtn" type="submit" class="btn btn-info">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container pt-3">
        <table id="example" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">S No</th>
                    <th scope="col" class="text-center">Coupon Code</th>
                    <th scope="col" class="text-center">Discount Percentage</th>
                    <th scope="col" class="text-center">Start Date</th>
                    <th scope="col" class="text-center">Expiry Date</th>
                    <th scope="col" class="text-center">Minimum Purchase</th>
                    <th scope="col" class="text-center">Maximum Discount</th>
                    <!-- <th scope="col" class="text-center">Current Status</th> -->
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% couponData.forEach(function(coupon, index) { %>
                    <tr>
                        <td class="text-center">
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= coupon.couponCode %>
                        </td>
                        <td class="text-center">
                            <%= coupon.discountPercentage %>%
                        </td>
                        <td class="text-center">
                            <%= coupon.startDateFormatted %>
                        </td>
                        <td class="text-center">
                            <%= coupon.expiryDateFormatted %>
                        </td>
                        <td class="text-center">₹ <%= coupon.minimumPurchase %>
                        </td>
                        <td class="text-center">₹ <%= coupon.maximumDiscount %>
                        </td>
                        <!-- <td class="text-center"></td> -->
                        
                        <td class="text-center">
                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#editModal<%= index %>">Edit
                                <i class="fas fa-edit"></i>
                            </button>

                        </td>
                    </tr>

                    <% }); %>
            </tbody>
        </table>
    </div>


    <!-- edit modal -->


    <% couponData.forEach(function(coupon, index) { %>
        <div class="modal fade" id="editModal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Coupon</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="editCouponForm<%= index %>">
                        <div class="modal-body">
                            <div class="couponCodeInput p-2">
                                <label for="couponCodeEdit<%= index %>" class="mb-2">Coupon Code: </label>
                                <div class="input-group">
                                    <input id="couponCodeEdit<%= index %>" name="couponCode" type="text"
                                        class="form-control" value="<%= coupon.couponCode %>" required minlength="5"
                                        maxlength="16">
                                </div>
                                <div class="form-text">Add a relevant coupon code e.g.: NEWYEAR2024, PONGAL2024, VYZ548
                                </div>
                            </div>

                            <div class="discountPercentageInput p-2">
                                <label for="discountPercentageEdit<%= index %>" class="mb-2">Discount Percentage:
                                </label>
                                <div class="input-group">
                                    <input id="discountPercentageEdit<%= index %>" name="discountPercentage" type="text"
                                        class="form-control" value="<%= coupon.discountPercentage %>" required>
                                </div>
                                <div class="form-text">Choose a percentage to be discounted. Between 5% and 90%.</div>
                            </div>

                            <div class="startDateInput p-2">
                                <label for="startDateEdit<%= index %>">Coupon Start Date:</label>
                                <div class="input-group">
                                    <input id="startDateEdit<%= index %>" name="startDate" id="startDate" type="date"
                                        class="form-control" value="<%= coupon.startDateFormatted %>" required>
                                </div>
                                <div class="form-text">Choose a start date for the discount to be considered.</div>
                            </div>

                            <div class="expiryDateInput p-2">
                                <label for="expiryDateEdit<%= index %>">Coupon Expiry Date: </label>
                                <div class="input-group">
                                    <input id="expiryDateEdit<%= index %>" name="expiryDate" type="date"
                                        class="form-control" value="<%= coupon.expiryDateFormatted %>" required>
                                </div>
                                <div class="form-text">Choose an expiry date for the discount to end.</div>
                            </div>

                            <div class="minimumPurchaseInput p-2">
                                <label for="minimumPurchaseEdit<%= index %>">Minimum Purchase: </label>
                                <div class="input-group">
                                    <input id="minimumPurchaseEdit<%= index %>" name="minimumPurchase" type="text"
                                        class="form-control" placeholder="Enter minimum purchase required"
                                        value="<%= coupon.minimumPurchase %>" required>
                                </div>
                                <div class="form-text">Minimum amount of purchase to be done to allow the coupon
                                    discount.</div>
                            </div>

                            <div class="maximumDiscount p-2">
                                <label for="maximumDiscountEdit<%= index %>">Maximum Discount: </label>
                                <div class="input-group">
                                    <input id="maximumDiscountEdit<%= index %>" name="maximumDiscount" type="text"
                                        class="form-control" placeholder="Maximum discount applicable"
                                        value="<%= coupon.maximumDiscount %>" required>
                                </div>
                                <div class="form-text">Maximum amount of discount to be allowed while using the coupon.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#editCouponForm<%= index %>").submit(async function (event) {
                    event.preventDefault();
                    console.log('1');
                    let formData = {
                        couponCode: $("#couponCodeEdit<%= index %>").val(),
                        discountPercentage: $("#discountPercentageEdit<%= index %>").val(),
                        startDate: $("#startDateEdit<%= index %>").val(),
                        expiryDate: $("#expiryDateEdit<%= index %>").val(),
                        minimumPurchase: $("#minimumPurchaseEdit<%= index %>").val(),
                        maximumDiscount: $("#maximumDiscountEdit<%= index %>").val()
                    };

                    let response = await fetch('/couponManagement/editCoupon/<%= coupon._id %>', {
                        method: 'PUT',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(formData)
                    });

                    let result = await response.json();

                    if (result.couponEdited) {
                        Swal.fire({
                            icon: "success",
                            title: "Your coupon has been updated",
                            showConfirmButton: false,
                            timer: 3500
                        }).then(() => location.reload());
                    } else if (result.couponCodeExists) {
                        Swal.fire({
                            icon: "error",
                            title: "Coupon code already exists",
                            text: "Coupon code must be unique"
                        });
                    }
                });
            });
        </script>
        <% }); %>



            <div>

                <br /><br /> <br><br><br>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <script>
                async function addCoupon() {
                    try {
                        let formData = {
                            couponCode: $("#couponCode").val(),
                            discountPercentage: $("#discountPercentage").val(),
                            startDate: $("#startDate").val(),
                            expiryDate: $("#expiryDate").val(),
                            minimumPurchase: $("#minimumPurchase").val(),
                            maximumDiscount: $("#maximumDiscount").val()
                        };

                        let response = await fetch('/couponManagement/addCoupon', {
                            method: 'POST',
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(formData)
                        });

                        let result = await response.json();

                        if (result.couponAdded) {
                            Swal.fire({
                                icon: "success",
                                title: "Your new coupon has been added",
                                showConfirmButton: false,
                                timer: 3500
                            }).then(() => location.reload())
                        } else if (result.couponCodeExists) {
                            Swal.fire({
                                icon: "error",
                                title: "Coupon code already exists",
                                text: "Failed to add"
                            });
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }

                $(document).ready(function () {
                    $("#addCouponForm").submit(function (e) {
                        e.preventDefault();
                        addCoupon();
                    });
                });
            </script>







            <%- include('../adminPartials/footer') %>