<%- include('../adminPartials/header') %>


    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard</h2>
                <p>Whole data about your business here</p>
            </div>
          
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title"> Today's Revenue</h6>
                            <!-- <span>$13,456.5</span> -->
                            <h5 id="currentDayRevenue" class="card-title"></h5>

                            <span class="text-sm"> Shipping fees are not included </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i
                                class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6>
                            <!-- <span>53.668</span> -->
                            <h5 id="completedOrdersCount" class="card-title"></h5>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Products</h6>
                            <h5 id="productsCount" class="card-title"></h5>
                            <h6 id="categoryCount" style="margin-left: 10px;"></h6>

                            <!-- <span class="text-sm"> In 19 Categories </span> -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i
                                class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Two Week Earning</h6>
                            <h5 id="fourteenDaysRevenue" class="card-title"></h5>
                            <span class="text-sm"> Based in your local time. </span>
                            
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
       
        
        
        <div class="row">
          
            <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        </div>
        <!-- Revenue Base on Area
                ------------------------------------------------------------------------- -->
   

        <div class="row">
            <div class="container text-center">
                <h5>Two Weeks Sales Report</h5>
            </div>
            <br />
            <br />
            <hr />

            <div class="col-lg-6">
                <canvas id="twoWeeksSalesChart"></canvas>
            </div>
            <hr />
        </div>

        <div class="row">
            <div class="container text-center">
                <h5>Categorywise Revenue Chart</h5>
            </div>
            <br />
            <br />
            <hr />
            <div class="col-lg-6">
                <canvas id="categoryWiseRevenueChart"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="container text-center">
                <h5>Comparing pending and Deliverd</h5>
            </div>
            <br />
            <br />
            <hr />
            <h5></h5>
            <!-- <div class="col-lg-6">
                <canvas id="myChart"></canvas>
            </div> -->
        </div>

        <style>
            .row {
                display: flex;
                justify-content: center;
            }

            .col-lg-6 {
                margin: 0 auto;
            }
        </style>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            console.log("11");

            const fetchData = (async () => {
                try {
                    const response = await fetch("/dashboardData", { method: "GET" });
                    const data = await response.json();
                    const {
                        productsCount,
                        categoryCount,
                        pendingOrdersCount,
                        completedOrdersCount,
                        currentDayRevenue,
                        fourteenDaysRevenue,
                        categoryWiseRevenue,
                        shipping,
                    } = data;
                    console.log("11");
                    let fourteenDaysRevenueTotal= fourteenDaysRevenue.revenue.reduce( (acc,curr)=>acc+curr,0   )
                    document.getElementById('currentDayRevenue').innerText = '₹' + currentDayRevenue
                    document.getElementById('completedOrdersCount').innerText = completedOrdersCount
                    document.getElementById('productsCount').innerText = productsCount
                    document.getElementById('categoryCount').innerText = 'in ' + categoryCount + ' categories'
                    document.getElementById('fourteenDaysRevenue').innerText = '₹' + fourteenDaysRevenueTotal

                    // document.getElementById('pendingOrdersCount').innerText = pendingOrdersCount

                    console.log(fourteenDaysRevenue);
                    console.log("1");
                    console.log(shipping);

                    const twoWeeksSalesChartElement =
                        document.getElementById("twoWeeksSalesChart");
                    const twoWeeksSalesChartOptions = {
                        type: "line",
                        data: {
                            labels: fourteenDaysRevenue.date,
                            datasets: [
                                {
                                    label: "Last 2 weeks revenue per day",
                                    data: fourteenDaysRevenue.revenue,
                                    borderWidth: 1,
                                },
                            ],
                        },
                        options: {
                            scales: { y: { beginAtZero: true } },
                        },
                    };
                    console.log("2");

                    const categoryWiseRevenueChartElement = document.getElementById(
                        "categoryWiseRevenueChart"
                    );
                    const categoryWiseRevenueChartOptions = {
                        type: "polarArea",
                        data: {
                            labels: categoryWiseRevenue.categoryName,
                            datasets: [
                                {
                                    data: categoryWiseRevenue.revenuePerCategory,
                                    backgroundColor: [
                                        "rgba(139, 0, 0, 0.7)", // Dark red
                                        "rgba(0, 100, 0, 0.7)", // Dark green
                                        "rgba(184, 134, 11, 0.7)", // Dark goldenrod
                                        "rgba(47, 79, 79, 0.7)", // Dark slate gray
                                        "rgba(0, 0, 139, 0.7)", // Dark blue
                                    ],
                                },
                            ],
                        },
                    };
                    console.log("3");
                    // const xChart = document.getElementById("myChart");
                    // const yChart = {
                    //     type: "doughnut",
                    //     data: {
                    //         labels: shipping,
                    //         datasets: [
                    //             {
                    //                 data: shipping,
                    //                 backgroundColor: [
                    //                     "rgb(255, 99, 132)",
                    //                     "rgb(54, 162, 235)",
                    //                     "rgb(255, 205, 86)",
                    //                 ],
                    //                 hoverOffset: 4,
                    //             },
                    //         ],
                    //     },
                    // };
                    console.log("4");

                    new Chart(twoWeeksSalesChartElement, twoWeeksSalesChartOptions);

                    new Chart(
                        categoryWiseRevenueChartElement,
                        categoryWiseRevenueChartOptions
                    );

                    new Chart(xChart, yChart);
                } catch (error) {
                    console.error(error);
                }
            })();
        </script>

        <div><br><br></div>

        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="w100 productFilter clearfix">
                <p class="pull-left">Showing <strong>
                        <%= productData.length %>
                    </strong> products</p>
                <div class="pull-right">
                    <div class="change-order pull-right">
                        <select id="sortDropdown" class="form-control" name="orderby" onchange="sortDropdownFn()">
                            <option id="default" value="default" selected="selected">Default sorting</option>
                            <option id="priceAscending" value="priceAscending">Sort by Best Selling Product: low to high
                            </option>
                            <option id="priceDescending" value="priceDescending">Sort by Best Selling Product: high to
                                low</option>

                        </select>
                    </div>
                    <div class="change-view pull-right">
                        <a href="#" title="Grid" class="grid-view">
                            <i class="fa fa-th-large"></i>
                        </a>
                        <a href="#" title="List" class="list-view"><i class="fa fa-th-list"></i></a>
                    </div>
                </div>
            </div>
            <!--/.productFilter-->

            <div class="row categoryProduct xsResponse clearfix">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Counts</th>
                                <th>Price (₹)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% productData.forEach(function(product) { %>
                                <tr>
                                    <td>
                                        <a href="/productDetails/<%= product._id %>">
                                            <%= product.productName %>
                                        </a>
                                    </td>

                                    <td>
                                        <%= product.stockSold %>
                                    </td>



                                    <td>₹<%= product.productPrice %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            async function sortDropdownFn() {
                try {
                    console.log('1');
                    const sortDropdown = document.getElementById('sortDropdown');
                    if (sortDropdown.value === 'default') {
                        console.log('default');
                        window.location.href = '/adminHome';
                        return; // Added return statement to exit the function
                    }
                    console.log('2');
        
                    const response = await fetch('/sort/' + sortDropdown.value, { method: 'GET' });
                    console.log('2');
        
                    const data = await response.json();
                    console.log('3');
        
                    if (data.success) {
                        localStorage.setItem('selectedDropdownOption', sortDropdown.value);
                        window.location.href = '/adminHome';
                        console.log('data success');
                    }
                } catch (error) {
                    console.error(error);
                }
            }
        
            document.addEventListener('DOMContentLoaded', function () {
                const selectedDropdownOption = localStorage.getItem('selectedDropdownOption');
                if (selectedDropdownOption) {
                    document.getElementById('sortDropdown').value = selectedDropdownOption;
                }
            });
        </script>
        


      
        <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
    </section>
    <%- include('../adminPartials/footer') %>