<%- include('../adminPartials/header') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="card mb-4"></div>
            <!-- card end// -->

            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="UTF-8" />
                <title>Edit Product</title>
                <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
            </head>

            <body>
                <div class="container mt-5">
                    <h2>Edit Product</h2>

                    <form  id="editProductForm" action="/editProduct/<%=productData._id%>" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" id="productName"
                                value="<%= productData.productName %>" name="productName" />
                        </div>

                        <div class="input-group mb-3">
                            <img src="/upload/<%= productData.productImage1 %>" alt="" id="preview1"
                                style="width: 100px; height: 100px" />
                            <div class="input-group mb-3">
                                <input name="productImage1" id="productImage1" type="file" class="form-control"
                                    placeholder="Product Image1" onchange="displayImage1()" />
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <img src="/upload/<%= productData.productImage2 %>" alt=""
                                style="width: 100px; height: 100px" />
                            <div class="input-group mb-3">
                                <input name="productImage2" id="productImage2" type="file" class="form-control"
                                    placeholder="Product Image2" onchange="displayImage2()" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <img src="/upload/<%= productData.productImage3 %>" alt=""
                                style="width: 100px; height: 100px" id="preview1" />
                            <div class="input-group mb-3">
                                <input name="productImage3" type="file" class="form-control"
                                    onchange="displayImage3()" />
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label for=" productPrice">Product Price:: &nbsp; &nbsp; &nbsp;</label> <br>
                            <input name="productPrice" type="number" class="form-control"
                                   value="<%= productData.productPrice %>" placeholder="price" />
                        </div>
                        

                        <div class="input-group mb-3">
                            <label for="productStock">Product Stock: &nbsp; &nbsp; &nbsp;</label> 

                            <input name="productStock" type="number" class="form-control"
                                value="<%= productData.productStock %>"  />
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Category">Category</label>

                                <select class="form-control p_input" name="category" placeholder="category">
                                    <% categories.forEach((value)=>{ %>
                                        <option value="<%=value.categoryName  %>">
                                            <%= value.categoryName %>
                                        </option>
                                        <% }) %>
                                </select>

                                <!-- <div class="form-group">

                                                <input type="file" class="form-control-file" id="productImage"
                                                    name="productImage">
                                            </div> -->
                                <button type="submit" class="btn btn-primary" style="margin-top: 20px">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </body>

            </html>

            <!-- <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div> -->
        </section>
        <!-- content-main end// -->
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>
    <script>





    $.validator.addMethod("noWhitespace", function (value, element) {
        return value.trim() !== ""; // Check if the trimmed value is not empty
    }, "Please enter a valid value.");

    $("#editProductForm").validate({

        rules: {
            productName: {
                required: true,
                noWhitespace: true, // Apply custom validation rule
                pattern: /^[a-zA-Z]+$/,
                minlength: 2,
                maxlength: 20,
            },
            productPrice: {
                required: true,
                noWhitespace: true, // Apply custom validation rule
                minlength: 2,
                maxlength: 20,
            },
            productStock: {
                required: true,
                noWhitespace: true, // Apply custom validation rule
                minlength: 2,
                maxlength: 20,
            },

        },
        messages: {
            productName: {
                required: "Please enter your first name",
                noWhitespace: "First name cannot be empty or contain only spaces",
                pattern: "First name can only contain letters",
                minlength: "First name must be at least 2 characters long",
                maxlength: "First name must not exceed 20 characters",
            },
            productPrice: {
                required: "Please enter your last name",
                noWhitespace: "Last name cannot be empty or contain only spaces",
                minlength: "Last name must be at least 2 characters long",
                maxlength: "Last name must not exceed 20 characters",
            },
            productStock: {
                required: "Please enter your last name",
                noWhitespace: "Last name cannot be empty or contain only spaces",
                minlength: "Last name must be at least 2 characters long",
                maxlength: "Last name must not exceed 20 characters",
            },

        },
    });

</script>.





    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
        integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
        integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        function displayImage1(event) {
            let image = document.getElementById("preview1");
            let inputImg = document.getElementById("input-img1");
            image.src = null;

            const file = event.target.files[0];

            if (file) {
                image.src = URL.createObjectURL(file);

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });

                document
                    .getElementById("cropButton")
                    .addEventListener("click", function () {
                        const canvas = cropper.getCroppedCanvas();

                        canvas.toBlob(function (blob) {
                            const formData = new FormData(
                                document.getElementById("editProductForm")
                            );
                            formData.append("productImage1", blob, "croppedImg.png");

                            fetch("/editProduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    if (data.success) {
                                        window.location.href = "/products";
                                    } else {
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                    });
            }
        }

        function displayImage2(event) {
            let image = document.getElementById("preview2");
            let inputImg = document.getElementById("input-img2");
            image.src = null;

            const file = event.target.files[0];

            if (file) {
                image.src = URL.createObjectURL(file);

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });

                document
                    .getElementById("cropButton")
                    .addEventListener("click", function () {
                        const canvas = cropper.getCroppedCanvas();

                        canvas.toBlob(function (blob) {
                            const formData = new FormData(
                                document.getElementById("editProductForm")
                            );
                            formData.append("productImage1", blob, "croppedImg.png");

                            fetch("/editProduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    if (data.success) {
                                        window.location.href = "/products";
                                    } else {
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                    });
            }
        }

        function displayImage3(event) {
            let image = document.getElementById("preview3");
            let inputImg = document.getElementById("input-img3");
            image.src = null;

            const file = event.target.files[0];

            if (file) {
                image.src = URL.createObjectURL(file);

                let cropper = new Cropper(image, {
                    aspectRatio: 5 / 4,
                    autoCrop: false,
                });

                document
                    .getElementById("cropButton")
                    .addEventListener("click", function () {
                        const canvas = cropper.getCroppedCanvas();

                        canvas.toBlob(function (blob) {
                            const formData = new FormData(
                                document.getElementById("editProductForm")
                            );
                            formData.append("productImage1", blob, "croppedImg.png");

                            fetch("/editProduct", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => response.json())
                                .then((data) => {
                                    if (data.success) {
                                        window.location.href = "/products";
                                    } else {
                                        console.error("Upload failed:", data.error);
                                    }
                                })
                                .catch((error) => {
                                    console.error("Error:", error);
                                });
                        });

                        cropper.destroy();
                    });
            }
        }
    </script>

    <!-- 
    {{!-- onchange image display --}}
    <script>
        function displayImage1() {
            const reader = new FileReader()
            reader.onload = () => {
                preview1.src = reader.result
            }
            const file = document.querySelector("#productImage1").files[0];
            if (file) {
                preview1.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
        function displayImage2() {
            const reader = new FileReader()
            reader.onload = () => {
                preview2.src = reader.result
            }
            const file = document.querySelector("#productImage2").files[0];
            if (file) {
                preview2.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
        function displayImage3() {
            const reader = new FileReader()
            reader.onload = () => {
                preview3.src = reader.result
            }
            const file = document.querySelector("#productImage3").files[0];
            if (file) {
                preview3.style.display = 'block'
                reader.readAsDataURL(file)
            }
        }
    </script> -->

    <%- include('../adminPartials/footer') %>