<%- include('../adminPartials/header') %>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/adminLogout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section>



            <div class="container p-3">
                <h1><strong>ORDER STATUS</strong></h1>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-6">
                            <p><strong>Order Number:</strong> #<%= orderData.orderNumber %>
                            </p>
                            <div class="card text-dark bg-info  mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= orderData.orderStatus %>
                                    </h5>
                                </div>
                            </div>
                            <span>
                                <p><strong>Status:</strong></p>
                                <h5>
                                    <%= orderData.orderStatus %>
                                </h5>
                            </span>
                            <p><strong>Order Date:</strong>
                                <%= orderData.orderDate %>
                            </p>
                        </div>
                        <div class="col-6 ">
                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header">Address</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= orderData.addressChosen.addressTitle %>
                                    </h5>
                                    <p class="card-text">
                                        <%= orderData.addressChosen.addressLine1 %> <br />
                                            <%= orderData.addressChosen.addressLine2 %> <br />
                                                Phone: <%= orderData.addressChosen.phone %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Payment</div>
                            <div class="card-body">
                                <h5 class="card-title">₹<%= orderData.grandTotalCost %>
                                </h5>
                                <p class="card-text">
                                    <%= orderData.paymentType %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h5>Product details:</h5>
                    <div class="row p-3">
                        <table id="orderStatus" class="table">
                            <thead>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <% orderData.cartData.forEach(cartItem=> { %>
                                    <tr>
                                        <td>
                                            <div><a href=""><img style="height: 100px; width: 100px;"
                                                        src="/images/productImages/<%= cartItem.productId.productImage1 %>"
                                                        alt=""></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <h4>
                                                    <%= cartItem.productId.productName %>
                                                </h4>
                                                <div><span>₹<%= cartItem.productId.productPrice %></span></div>
                                            </div>
                                        </td>
                                        <td> X &nbsp; <%= cartItem.productQuantity %>
                                        </td>
                                        <td> <span>
                                                <h4>₹<%= cartItem.totalCostPerProduct %>
                                                </h4>
                                            </span></td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

































        </section>


        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
















    </main>

    <%- include('../adminPartials/footer') %>