<%- include('../adminPartials/header') %>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button">
                            <i class="material-icons md-search"></i>
                        </button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Categories"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                    alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                    alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                    alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                    alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false">
                            <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/adminLogout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div class="container pt-3">
            <table id="example" class="table table-bordered table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col" class="border-dark">Order No</th>
                        <th scope="col" class="border-dark">Name</th>
                        <!--
                        <th scope="col" class="border-dark">Date</th>
                        -->
                        <th scope="col" class="border-dark">Amount</th>
                        <th scope="col" class="border-dark">Payment</th>
                        <th scope="col" class="border-dark">Status</th>
                        <th class="border-dark">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% orderData.forEach(order=> { %>
                        <tr>
                            <td>
                                <a href="/orderManagement/orderStatus/<%= order._id %>">
                                    <%= order.orderNumber %>
                                </a>
                            </td>
                            <td>
                                <%= order.userId %>
                            </td>
                            <!--
                            <td></td>
                            -->
                            <td>₹<%= order.grandTotalCost %>
                            </td>
                            <td>
                                <%= order.paymentType %>
                            </td>
                            <td>
                                <%= order.orderStatus %>
                            </td>
                            <td>
                                <% if (order.orderStatus !== 'Cancelled') { %>
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/orderManagement/pending/<%= order._id %>"
                                                    onclick="return confirm('Are you sure you want to change the status to Pending?')">
                                                    Pending
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/orderManagement/shipped/<%= order._id %>">
                                                    Shipped
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/orderManagement/delivered/<%= order._id %>">
                                                    Delivered
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/orderManagement/return/<%= order._id %>">
                                                    Return
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="/orderManagement/cancelled/<%= order._id %>">
                                                    Cancelled
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                <% } %>
                            </td>
                            
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false"
                        src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <!-- <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template . -->
                </div>
                <div class="col-sm-6">
                    <!-- <div class="text-sm-end">All rights reserved</div> -->
                </div>
            </div>
        </footer>
    </main>

    <%- include('../adminPartials/footer') %>