<%- include('../adminPartials/header') %>



    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                <a href="/addProduct" class="btn btn-primary btn-sm rounded">Add new product</a>
            </div>
        </div>
        <div class="card mb-4">
           
            <div class="card-body">

                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Parent Category</th>
                            <th>Product Image1</th>
                            <th>Product Image2</th>
                            <th>Product Image3</th>
                            <th>Price in INR</th>
                            <th>In stock</th>
                            <th>List/Unlist</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <% productData.reverse().forEach(function(product, index) { %>
                            <tr>
                                <td>
                                    <%= product.productName %>
                                </td>
                                <td>
                                    <%= product.parentCategory %>
                                </td>
                                <td><img src="/upload/<%= product.productImage1 %>" alt=""
                                        style="width: 100px; height: 100px"></td>
                                <td><img src="/upload/<%= product.productImage2 %>" alt=""
                                        style="width: 100px; height: 100px"></td>
                                <td><img src="/upload/<%= product.productImage3 %>" alt=""
                                        style="width: 100px; height: 100px"></td>
                                <td>₹<%= product.productPrice %>
                                </td>
                                <td>
                                    <%= product.productStock %>
                                </td>



                                <% if (product.isListed) { %>
                                    <td>
                                        <form action="/unlist/<%= product._id %>" method="POST">
                                            <button type="submit" class="btn btn-success">Unlist</button>
                                        </form>
                                    </td>
                                    <% } else { %>
                                        <td>
                                            <form action="/list/<%= product._id %>" method="POST">
                                                <button type="submit" class="btn btn-danger">List</button>
                                            </form>
                                        </td>
                                        <% } %>


                                            <td>





                                                <a href="/productEdit/<%= product._id %>"
                                                    class="btn btn-primary btn-sm rounded">edit</a>








                                                <!-- <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                        data-bs-target="#editModal<%= index %>">
                                        <i class="fas fa-edit"></i>
                                    </button> -->

                                                <a class="btn btn-info"
                                                    onclick="return deleteConfirmation('<%= product.categoryName %>', '<%= product._id %>')"
                                                    href="#">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>Delete
                                                </a>

                                                <script>
                                                    function deleteConfirmation(categoryName, productId) {
                                                        if (confirm(`Are you sure you want to delete ${categoryName} product?`)) {
                                                            window.location.href = `/deleteProduct/${productId}`;
                                                            return true;
                                                        }
                                                        return false;
                                                    }
                                                </script>





                                            </td>
                            </tr>
                            <% }); %>

                    </tbody>
                </table>
























            </div> <!-- card-body end// -->


        </div> <!-- card end// -->
        <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> -->
        <div class="d-flex justify-content-center py-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <% for( let i=0; i < count/limit; i++ ) { %>
                        <li class="page-item">
                            <a class="page-link" href="/products/?page=<%=i+1 %>">
                                <%= i+1 %>
                            </a>
                        </li>
                        <% } %>

                </ul>

        </div>


    </section> <!-- content-main end// -->











    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
    <%- include('../adminPartials/footer') %>