<%- include('../adminPartials/header') %>

    <div class="container mt-3">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Sales Report</h2>
                <!-- <div>
                    <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                    <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a href="/salesReport/download/xlsx" class="btn btn-primary">Download</a>
            </div>

            <% if (dateValues) { %>
                <div class="col-md-2">
                    <label for="startDate" class="form-label">From:</label>
                    <input id="startDate" type="date" class="form-control" value="<%= dateValues.startDate %>">
                </div>

                <div class="col-md-2">
                    <label for="endDate" class="form-label">To:</label>
                    <input id="endDate" type="date" class="form-control" value="<%= dateValues.endDate %>">
                </div>

                <% } else { %>

                    <div class="col-md-2">
                        <label for="startDate" class="form-label">From:</label>
                        <input id="startDate" type="date" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label for="endDate" class="form-label">To:</label>
                        <input id="endDate" type="date" class="form-control">
                    </div>

                    <% } %>

                        <div class="col-md-2">
                            <button id="filterBtn" class="btn btn-success">Filter</button>
                        </div>
        </div>
    </div>


    <div class="container pt-3">
        <table id="salesReport" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Username</th>
                    <!-- <th scope="col">Date</th> -->
                    <th scope="col">Products</th>
                    <th scope="col">No. of Items</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <% salesData.reverse().forEach(function(sale, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= sale.userId?.username %></td>
                        <!-- <td><%= sale.orderDateFormatted %></td> -->
                        <td>
                            <ul>
                                <% sale.cartData.forEach(function(cartItem) { %>
                                    <li><%= cartItem.productId.productName %></li>
                                <% }) %>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <% sale.cartData.forEach(function(cartItem) { %>
                                    <li><%= cartItem.productQuantity %></li>
                                <% }) %>
                            </ul>
                        </td>
                        <td>₹<%= sale.grandTotalCost %></td>
                        <td><%= sale.paymentType %></td>
                        <td><%= sale.orderStatus %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

 
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    
    <script>
    $(document).ready(function() {
        $('#salesReport').DataTable();
    });
    </script>
    


    <script>
        let startDate = document.getElementById('startDate')
        let endDate = document.getElementById('endDate')

        startDate.addEventListener('change', function () {
            let startDateValue = startDate.value;
            endDate.setAttribute('min', startDateValue);
        });

        endDate.addEventListener('change', function () {
            let endDateValue = endDate.value;
            startDate.setAttribute('max', endDateValue);
        });

    </script>


    <script>
        let filterBtn = document.getElementById('filterBtn')
        filterBtn.addEventListener('click', async (e) => {
            e.preventDefault()
            let startDate = document.getElementById('startDate').value
            let endDate = document.getElementById('endDate').value
            let formData = { startDate, endDate }
            console.log(formData)

            let response = await fetch('/salesReport/filter',
                {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(formData)
                })
            let result = await response.json()

            if (result.success) {
                console.log('hello')
                location.reload()
            }
        })
    </script>




    <%- include('../adminPartials/footer') %>